$width-md: 960px;
$width-sm: 640px;
$shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px 10px rgba(0, 0, 0, 0.1),
	0px 0px 40px 10px rgba(248, 171, 171, 0.1);

:root {
	--space-sm: 1rem;
	--header-h: 4rem;
}
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}
header {
	background-color: sandybrown;
	padding-inline: 1rem;
	height: var(--header-h);
	z-index: 10000;
	box-shadow: $shadow;
	position: relative;
	.edges {
		height: var(--header-h);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.center {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;

		width: 3em;
		height: 3em;
	}
}
.header-flow {
	display: flex;
	justify-content: space-between;
}
section {
	h1,
	h2,
	p {
		margin-bottom: 0.5em;
	}
	display: grid;
	height: calc(100vh - var(--header-h));
	nav {
		background-color: tan;
		font-size: 0.95em;
		color: rgba(#000000, 0.75);
		grid-area: ga-navbar;
		z-index: 9000;
		box-shadow: $shadow;
	}
	aside {
		grid-area: ga-aside;
		background-color: tomato;
		min-width: 10em;
		overflow: auto;
		@media all and (max-width: $width-md) {
			display: none;
		}
		box-shadow: $shadow;
		z-index: 8000;
	}
	main {
		grid-area: ga-main;
		background-color: rosybrown;
		overflow: auto;
		z-index: 7000;
	}
}
.this-content {
	padding: 1rem;
}

.only-main {
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "ga-navbar" "ga-main";
}
.aside-and-main {
	grid-template-columns: auto 1fr;
	grid-template-areas: "ga-aside ga-main";
	@media all and (max-width: $width-md) {
		grid-template-columns: 1fr;
		grid-template-areas: "ga-main";
	}
}
.navbar-and-aside-and-main {
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "ga-navbar ga-navbar" "ga-aside ga-main";
	@media all and (max-width: $width-md) {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "ga-navbar" "ga-main";
	}
}
.gridd {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.grid-content {
	position: relative;
	display: flex;
	flex-direction: row;
	h1 {
		margin: 0;
	}
	gap: 1rem;
	& > div {
		z-index: 1;
	}
	@media all and (max-width: $width-sm) {
		flex-direction: column;
	}
}

.section-content {
	width: 100%;
	height: 6rem;
	background-color: antiquewhite;
	border-radius: 0.25rem;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.this-media-q {
	margin-block: 1rem;
	div {
		height: 10rem;
		background-color: aqua;
		@media (min-width: 300px) and (max-width: 500px) {
			background-color: red;
		}
	}
}
