@import "./reset";
@import "./layout";

body {
	font-family: monospace;
}
img {
	height: 3em;
	width: 3em;
}
h1 {
	font-size: 2em;
	// margin-bottom: 0.5em;
}
h2 {
	font-size: 1.5em;
	// margin-bottom: 0.5em;
}
li {
	margin-bottom: 0.25em;
	opacity: 0.75;
}
form {
	margin-bottom: 0.75em;
}
hr{
	margin-block: 0.75em;
}
.head-div {
	display: flex;
	gap: 1em;
	align-items: center;
}
.block {
	height: 1em;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	margin-bottom: 0.75em;
	&:last-child {
		width: 75%;
	}
}
