@import "./reset";
@import "./layout";

body {
	font-family: monospace;
	line-height: 1.2;
}
img {
	height: 3em;
	width: 3em;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
li {
	margin-bottom: 0.25em;
	opacity: 0.75;
}
p {
	font-size: 1.125em;
}
form {
	margin-bottom: 0.75em;
}
hr {
	margin-block: 0.75em;
}
strong {
	font-weight: bolder;
}
.head-div {
	display: flex;
	gap: 1em;
	align-items: center;
}
.block {
	height: 1em;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	margin-bottom: 0.75em;
	&:last-child {
		width: 75%;
	}
}
.yo-short {
	margin-bottom: 0.75em;
	aspect-ratio: 16 / 2;
	background-color: brown;
	transition: aspect-ratio 1s ease-out;
	&:hover {
		aspect-ratio: 16 / 2.4;
	}
}
.yo-long {
	aspect-ratio: 2 / 1;
	background-color: chocolate;
}
.overlay {
	position: absolute;
	z-index: 6000;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.cross-hatch {
	background: 
		repeating-linear-gradient(
			45deg,
			rgba(red, 0),
			rgba(red, 0) .85rem,
			rgba(red, 0.8) 0.85rem,
			rgba(red, 0.8) 1rem,	
		),
		repeating-linear-gradient(
			-45deg,
			rgba(red, 0),
			rgba(red, 0) .85rem,
			rgba(red, 0.8) 0.85rem,
			rgba(red, 0.8) 1rem,	
		);
}
