/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --space-sm: 1rem;
  --header-h: 4rem;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: sandybrown;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1rem;
  height: var(--header-h);
}

section {
  display: -ms-grid;
  display: grid;
  height: calc(100vh - var(--header-h));
}

section h1, section h2, section p {
  margin-bottom: 0.5em;
}

section nav {
  background-color: tan;
  font-size: 0.95em;
  color: rgba(0, 0, 0, 0.75);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ga-navbar;
}

section aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ga-aside;
  background-color: tomato;
  min-width: 10em;
  overflow: auto;
}

@media all and (max-width: 960px) {
  section aside {
    display: none;
  }
}

section main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ga-main;
  background-color: rosybrown;
  overflow: auto;
}

.this-content {
  padding: 1rem;
}

.only-main {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "ga-navbar" "ga-main";
}

.aside-and-main {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "ga-aside ga-main";
}

@media all and (max-width: 960px) {
  .aside-and-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "ga-main";
  }
}

.navbar-and-aside-and-main {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "ga-navbar ga-navbar" "ga-aside ga-main";
}

@media all and (max-width: 960px) {
  .navbar-and-aside-and-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "ga-navbar" "ga-main";
  }
}

body {
  font-family: monospace;
}

img {
  height: 3em;
  width: 3em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

li {
  margin-bottom: 0.25em;
  opacity: 0.75;
}

p {
  font-size: 1.125em;
}

form {
  margin-bottom: 0.75em;
}

hr {
  margin-block: 0.75em;
}

strong {
  font-weight: bolder;
}

.head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  height: 1em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 0.75em;
}

.block:last-child {
  width: 75%;
}

.yo-short {
  margin-bottom: 0.75em;
  aspect-ratio: 16 / 2;
  background-color: brown;
  -webkit-transition: aspect-ratio 1s ease-out;
  transition: aspect-ratio 1s ease-out;
}

.yo-short:hover {
  aspect-ratio: 16 / 2.4;
}

.yo-long {
  aspect-ratio: 16 / 4;
  background-color: chocolate;
}
/*# sourceMappingURL=style.css.map */